* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  background-color: #000;
  font-family: monospace;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

h1, h2, h3, h4, h5, p {
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, p {
    font-size: 10px;
  }
}

.jitter {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: jittery;
}

@keyframes jittery {
  10% { transform: translate(-0.1px, -0.15px); }
  20% { transform: translate(0.15px, 0.1px); }
  30% { transform: translate(-0.2px, -0.25px); }
  40% { transform: translate(0.05px, 0.1px); }
  50% { transform: translate(-0.025px, -0.05px); }
  60% { transform: translate(0px, 0.075px); }
  70% { transform: translate(-0.075px, -0.1px); }
  80% { transform: translate(0.075px, 0.125px); }
  90% { transform: translate(-0.125px, -0.075px); }
  100% { transform: translate(0.075px, 0.025px); }
}

.blinking-cursor {
  background-color: #fff;
  width: 0.8em;
  height: 0.15em;
  animation: 0.65s blink step-end infinite;
}

@keyframes blink {
  from, to { background-color: transparent; }
  50% { background-color: white; }
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0% { content: '   '; }
  25% { content: '.  '; }
  50% { content: '.. '; }
  75% { content: '...'; }
  100% { content: '   '; }
}
